/* Paleta de base: https://color.adobe.com/es/Japanese-Modern-color-theme-87573/ */

@font-face {
    font-family: 'norwesterregular';
    src: url('../fonts/norwester-webfont.woff2') format('woff2'),
         url('../fonts/norwester-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#sidebar .logo {
  max-width: 10em;
}

.site-title {
  font-family: 'norwesterregular';
}

svg.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
