<section class="persona" id="{{.id}}">
  <h2>{{.nombre}}</h2>
  <div class="contenedor">
    <div class="left">
      <img src="{{ .foto |relURL }}" />
      <p class="social">
        {{ partial "iconos-sociales.html" .social}}
      </p>
    </div>
    <div class="right">
    <p class="presentacion">{{.presentacion}}</p>
    <p class="celular">
      Teléfono: <a href="tel:{{.celular}}">
          {{ .celular }}
        </a> (también por 
      {{range .mensajerias}}
      <i class="fa fa-{{.}}"></i>
      {{ end }}
      )
    </p>
    
    <p>
    Correo: <a href="mailto:{{.correo}}">{{.correo}}</a>
    </p>

    <p class="enlace">
      <a href="{{.paginapropia}}">Más información en su página personal</a>
    </p>
  </div>
  </div>
</section>
